{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %} - Sign Up{% endblock %}

{% block content %}
    <div class="container">
        {% if registered %}
            <h1>Thank you for signing up!</h1>
        {% else %}
            <h1>Sign Up</h1>
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {% bootstrap_form user_form %}
                {% bootstrap_form profile_form %}
                <input type="submit" class="btn btn-primary" value="Sign Up">
            </form>
        {% endif %}
    </div>
{% endblock %}
